.ep-debug-bar-warning {
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	clear: both;
	padding: 0.5em 10px;
	margin-top: 1em;
}

[data-theme="dark"] .ep-debug-bar-warning {
	background-color: transparent;
}

.ep-queries-debug pre {
	padding: 10px;
}

.ep-queries-debug .dashicons {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid currentColor;
	cursor: pointer;
	display: inline-block;
	height: 0;
	margin-left: 5px;
	vertical-align: middle;
	width: 0;
}

.ep-queries-debug .hide-query-results .query-results,
.ep-queries-debug .hide-query-args .query-args,
.ep-queries-debug .hide-query-headers .query-headers,
.ep-queries-debug .hide-query-errors .query-errors,
.ep-queries-debug .hide-query-body .query-body {
	display: none;
}

.debug-menu-target .ep-queries-debug .query-body,
.debug-menu-target .ep-queries-debug .query-args,
.debug-menu-target .ep-queries-debug .query-headers,
.debug-menu-target .ep-queries-debug .query-errors,
.debug-menu-target .ep-queries-debug .query-results {
	background-color: white;
}

.ep-queries-debug .hide-query-results .query-result-toggle,
.ep-queries-debug .hide-query-args .query-args-toggle,
.ep-queries-debug .hide-query-headers .query-headers-toggle,
.ep-queries-debug .hide-query-errors .query-errors-toggle,
.ep-queries-debug .hide-query-body .query-body-toggle {
	border-bottom: 5px solid currentColor;
	border-top: none;
}

.ep-queries-debug .ep-query-failed .ep-query-response-code {
	color: #d63638;
	font-weight: bold;
}

.ep-queries-buttons-wrapper {
	align-items: center;
	clear: both;
	display: flex;
	gap: 10px;
	padding-bottom: 1em;
}

.ep-queries-debug-container .copy-curl {
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
}

.ep-queries-debug-container {
	clear: left;
}

/* stylelint-disable selector-id-pattern */

/* The giant list of selectors here is needed to
 * override QM's important rules
 */
#debug-menu-target-EP_Debug_Bar_ElasticPress .button,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button,
#qm-elasticpress .button,
#qm-elasticpress a.button {
	background: #f6f7f7 !important;
	border: 1px solid var(--qm-wp-modern, #3858e9) !important;
	border-radius: 2px !important;

	/* Overriding some Debug Bar "important" rules */
	color: var(--qm-wp-modern, #3858e9) !important;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 13px;
	line-height: 2.1538 !important;
	padding: 0 10px !important;
	text-decoration: none !important;
	text-shadow: none;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress .button:active,
#query-monitor-main #qm-elasticpress .button:hover {
    background-color: #e6eaf4 !important;
    color: var(--qm-wp-modern, #3858e9) !important;
    border-color: #2337c8 !important;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress .button:focus,
#query-monitor-main #qm-elasticpress .button:focus {
	outline: none;
}

/* Overriding some Debug Bar "important" rules */
#debug-menu-target-EP_Debug_Bar_ElasticPress .button-primary,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary,
#debug-menu-target-EP_Debug_Bar_ElasticPress button.button-primary,
#query-monitor-main #qm-elasticpress .button-primary {
	background: var(--qm-wp-modern, #3858e9) !important;
	border: 1px solid var(--qm-wp-modern, #3858e9) !important;
	color: #fff !important;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary:hover,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary:focus,
#query-monitor-main #qm-elasticpress a.button-primary:hover,
#query-monitor-main #qm-elasticpress a.button-primary:focus {
	background:  #2145e6 !important;
	color: #fff !important;
}

#query-monitor-main #qm-elasticpress h3,
#query-monitor-main #qm-elasticpress p {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

#query-monitor-main #qm-elasticpress li {
	border-top: 1px solid var(--qm-panel-separator) !important;
	line-height: 20px !important;
	padding: 20px 0 !important;
}

#qm-elasticpress .qm-boxed {
	padding-bottom: 1em;
}
