.ep-debug-bar-warning {
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	clear: both;
	padding: 0.5em 10px;
}

.ep-queries-debug pre {
	padding: 10px;
}

.ep-queries-debug .dashicons {
	cursor: pointer;
}

.ep-queries-debug .dashicons::before {
	content: "\f140";
}

.ep-queries-debug .hide-query-results .query-results,
.ep-queries-debug .hide-query-args .query-args,
.ep-queries-debug .hide-query-headers .query-headers,
.ep-queries-debug .hide-query-errors .query-errors,
.ep-queries-debug .hide-query-body .query-body {
	display: none;
}

.ep-queries-debug .query-body,
.ep-queries-debug .query-args,
.ep-queries-debug .query-headers,
.ep-queries-debug .query-errors,
.ep-queries-debug .query-results {
	background-color: white;
}

.ep-queries-debug .hide-query-results .query-result-toggle::before,
.ep-queries-debug .hide-query-args .query-args-toggle::before,
.ep-queries-debug .hide-query-headers .query-headers-toggle::before,
.ep-queries-debug .hide-query-errors .query-errors-toggle::before,
.ep-queries-debug .hide-query-body .query-body-toggle::before {
	content: "\f142";
}

.ep-queries-debug .ep-query-failed .ep-query-response-code {
	color: red;
	font-weight: bold;
}

.ep-queries-buttons-wrapper {
	align-items: center;
	clear: both;
	display: flex;
	gap: 10px;
	padding: 1em 0;
}

.ep-queries-debug-container .copy-curl {
	border-color: #000;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	padding: 0 10px;
	text-decoration: none;
}

.ep-queries-debug-container {
	clear: left;
}

/* stylelint-disable selector-id-pattern */

/* The giant list of selectors here is needed to
 * override QM's important rules
 */
#debug-menu-target-EP_Debug_Bar_ElasticPress .button,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button,
#qm-elasticpress .button,
#qm-elasticpress a.button {
	background: #f6f7f7 !important;
	border: 1px solid #2271b1 !important;
	border-radius: 3px !important;
	
	/* Overriding some Debug Bar "important" rules */
	color: #2271b1 !important;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 13px;
	line-height: 2.15384615 !important;
	padding: 0 10px !important;
	text-decoration: none !important;
	text-shadow: none;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress .button:hover,
#query-monitor-main #qm-elasticpress .button:hover {
	background: #f0f0f1;
	border-color: #0a4b78;
	color: #0a4b78 !important;
	text-decoration: none !important;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress .button:active,
#query-monitor-main #qm-elasticpress .button:hover {
	background: #f6f7f7 !important;
	border-color: #8c8f94 !important;
	box-shadow: none;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress .button:focus,
#query-monitor-main #qm-elasticpress .button:focus {
	outline: none;
}

/* Overriding some Debug Bar "important" rules */
#debug-menu-target-EP_Debug_Bar_ElasticPress .button-primary,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary,
#debug-menu-target-EP_Debug_Bar_ElasticPress button.button-primary,
#query-monitor-main #qm-elasticpress .button-primary {
	background: #007cba !important;
	border: 1px solid #007cba !important;
	color: #fff !important;
}

#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary:hover,
#debug-menu-target-EP_Debug_Bar_ElasticPress a.button-primary:focus,
#query-monitor-main #qm-elasticpress a.button-primary:hover,
#query-monitor-main #qm-elasticpress a.button-primary:focus {
	background: #007cba !important;
	color: #fff !important;
	text-decoration: none !important;
}

#query-monitor-main #qm-elasticpress h3,
#query-monitor-main #qm-elasticpress p {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

#query-monitor-main #qm-elasticpress li {
	border-top: 1px solid var(--qm-panel-separator) !important;
	line-height: 20px !important;
	padding: 20px 0 !important;
}

/* stylelint-enable selector-id-pattern */
